<h1>Jobs</h1>
<table>
    <tr>
        <th>Type</th>
        <th>Starting HP</th>
        <th>Hit Dice</th>
        <th>Primary Ability</th>
        <th>Saving Throw Profiencies</th>
        <th>Armor Profiencies</th>    
        <th>Weapon Profiencies</th>
        <th>Profiencies Bonus</th>
        <th>Skills</th>
        <th>Starting Equipment</th>
        <th>Cantrips</th>
        <th>Spell Slots</th>
        <th>Spells</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td><td></td>
    </tr>
    
</table>