<table>
    <tr>
        <td><%= link_to 'Edit', edit_character_path(@character) %></td>
        <td><%= link_to 'Delete', character_path(@character),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>

<p>
    <strong>Name:</strong>
    <%= @character.name %><br>
    <strong>Job:</strong>
    <%= @character.job.name if @character.job %>
</p>
